# TF specific ignores

.terraform
.terraform.lock.hcl
*.tfstate*

# Terragrunt specific ignores
.terragrunt-cache
examples/**/provider_*.tf
examples/**/versions.tf

# IDE specific ignores
.idea
.vscode
